  .f-analyzer-dex-banner {
    width: calc(100% - 0px);
    position: relative;
    aspect-ratio: 6 / 2;
    left: 0;
    top: 0;
    background-size: contain;
    padding: 0;
    margin: 0 auto 0 auto;
  }
  